
/*
User Story #14: My product landing page should have at least one media query.

User Story #15: My product landing page should utilize CSS flexbox at least once.


*/

html {
  overflow-x: hidden;
  overflow-y: auto;
    scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.page {
  height: 100vh;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

#bethechange:target:before {
    content: "";
    display: block;
    /*height: 10px;
    margin: -10px 0 0;*/
    height: 0;
    margin: 0;
}

#about:target:before {
    content: "";
    display: block;
    /*height: 10px;
    margin: -10px 0 0;*/
    height: 0;
    margin: 0
}/**/

body {
  position: relative;
  padding: 100px 0px 0px 0px;
  margin: 0px;
  background: black;
}

a {
  text-decoration: none;
  color: white;
}

article {
  font-size: 14px;
  background-color: rgb(50,50,50);
  padding: 15px;
  margin: 10px 0px 10px 0px;
  /*box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
}

h3 {
  font-size: 18px;
  margin: 0px 0px 5px 0px;
  
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  display: grid;
  grid-template-rows: auto 20%;
  z-index: 200;
}

main {
  background: black;
  color: white;
  padding: 20px;
  margin: 0px;
  position:relative;
}

footer {
  font-size: 12px;
  background-color: rgb(203,255,139, 0.6); 
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#navbar {
  width: 100%;
  height: 80px;
  background-color: white;
}

#header-img {
  float:left;
  vertical-align: text-bottom;
  transform: translate(0px, 6px);
}

#navheader {
  float: left;
  height: 100%;
  font-size: 30px;
}

#navlinks {
  float:right;
  margin-right: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  align-items: end;
}

.nav_link {
  text-decoration: none;  
  color: black;
}

.spacer {
  height: 20px;
  background-color: green;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 138px;
  width: 100%;
}

#intro {
  /*z-index: 50;*/
  background: black;
  position: -webkit-sticky;/* Safari */
  position: sticky;
  top: 138px;
  width: 100%; 
  /*display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  align-items: center;
  vertical-align: center;*/
  /*width: 90%;
  padding: 0px 60px 30px 10px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

#earth {
  animation: shake 10.0s;
  animation-iteration-count: infinite;
  margin-left: auto;
  padding: 30px 50px 70px 200px;
  float: right;
}

.transition {
  padding: 20px 0px 20px 0px;
  opacity: 0;
  font-size: 24px;
  animation-name: fadein;
  /*animation: fadein ease-in 3s;*/
  animation-duration: 4s; 
  animation-fill-mode: forwards;
}

.transition-earth {
  opacity: 0;
  animation: fadein ease-in 4s;
  animation-duration: 7s; 
  animation-fill-mode: forwards;
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.0px) rotate(0.25deg); }
  10% { transform: translate(-0.0px, -0.5px) rotate(0deg); }
  20% { transform: translate(-0.5px, 0px) rotate(0deg); }
  30% { transform: translate(0.5px, 0.5px) rotate(-0.25deg); }
  40% { transform: translate(-0.5px, -0.0px) rotate(0deg); }
  50% { transform: translate(0.5px, 0.0px) rotate(-0.25deg); }
  60% { transform: translate(0.0px, -0.5px) rotate(0deg); }
  70% { transform: translate(0.5px, 0.0px) rotate(0.25deg); }
  80% { transform: translate(-0.0px, -0.5px) rotate(0deg); }
  90% { transform: translate(0.5px, 0.0px) rotate(0deg); }
  100% { transform: translate(0.0px, -0.5px) rotate(0.25deg); }
}

#t1 {
  animation-delay: 7s;
}

#t2 {
  animation-delay: 11s;
}

#t3 {
  animation-delay: 15s;
}




#bethechange {
  /*position: relative;
  z-index: 100;*/
  background: black;
  position: -webkit-sticky;/* Safari */
  position: sticky;
  top: 138px;
  width: 100%;
}

#news {
  position: relative;
  /*z-index: 110;*/
  background: black;
  /*margin: 0;*/
  padding: 0px 0px 10px 0px;
  margin-bottom: 138px;
}

#about {
  /*z-index: 120;*/
  background: black;
  /*margin: 0;
  position: relative;*/
  position: -webkit-sticky;/* Safari */
  position: sticky;
  top: 138px;
  width: 100%;
  /*margin: 138px 0 0;
  width: 100%;*/
}

@media screen and (max-width: 843px) {
  .transition {
    font-size: 22px;
  }
  
  #earth {
    padding: 30px 50px 30px 180px;
  }
  
}

@media screen and (max-width: 680px) {
  .transition {
    font-size: 18px;
  }
  
  #earth {
    padding: 30px 50px 30px 100px;
  }

}

@media screen and (max-width: 580px) {
  .transition {
    font-size: 16px;
  }
  
  #earth {
    padding: 0px 00px 30px 30px;
    float: top;
  }

}
