body {
  text-align: center;
  font-family: "Lato", sans-serif; 
  color: white;
  background-color: rgb(1,36,92);
  background-image: url("https://clipartart.com/images/natural-resource-clipart-open-source-7.png");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100%;
  background-attachment: fixed;
}

.content {
    font-size: 16px;
}

#surveyform {
  text-align: left;

  background-color: rgb(1,36,92, 0.8);
  width: 50%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.formdivs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

fieldset {
  border : None;
  height: 35px;
  padding-left: 0px;
}

legend {
  position: relative;
  bottom: -3px;
}

input {
  height: 30px;
}

select {
  height: 40px;
}

input[type=checkbox], input[type=radio] { 
  vertical-align: middle; 
  position: relative; 
  bottom: 1px;
} 

::placeholder {
  font-size: 14px;
}

#comments {
  border-radius: 5px;	
}

#submit {
  background-color: rgb(77, 209, 83);
	height: 40px;
	color: white;
	border: None;
	font-size: 1.0em;
	cursor: pointer;
	border-radius: 5px;
}
