body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  background-image: linear-gradient(rgb(0,207,255), rgb(251,249,32));
  background-image: linear-gradient(rgb(179,255,253), rgb(244,255,106));
}

img {
  display: block;
  max-width: 100%;
  padding-bottom: 20px;
  border-radius: 10px;
}

main {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
}

div[id="title"], div[id="img-div"], div[id="tribute-info"] {
  display: block;
  width: 80%;
  max-width: 800px;
  background: rgb(253,255,169, 0.7);
  background: rgb(255,255,255, 0.6);
  padding : 30px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

h1 {
  text-align: center;
}

#img-caption {
  padding: 0px;
}

a {
  color: rgb(72,0,171);
  text-decoration: None;
  border-radius; 10px;
}
